.post {
  border: 1px solid #ccc;
  padding: 15px;

  &:hover {
    .actions {
      display: block;
    }
  }

  .title {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 0 15px;
    min-height: 20px;
  }

  h4 {
    flex: 1;
    margin: 0;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .actions {
    display: none;
    margin-left: 20px;

    button {
      cursor: pointer;
    }
  }

  p {
    margin: 0;
  }
}
